.btn {
  display: block;
  padding: 10px 20px;
  background-color: #f1f1f1;
  border-radius: 3px;
  border: 1px solid #f1f1f1;
  line-height: 1.2;
  font-family: "GLX-Lato";
  cursor: pointer;
  &.primary {
    background-color: #004688;
    border-color: #004688;
    color: #fff;
  }
}
