.time-title {
  margin-bottom: 10px;
}
.show-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  .countdown {
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #f1f1f1;
  }
  p {
    margin-bottom: 0;
  }
  .value {
    width: 30px;
    text-align: center;
  }
  .space {
    margin-left: 10px;
    margin-right: 10px;
  }
  .type {
    display: block;
    text-transform: capitalize;
    font-size: 12px;
    font-family: "GLX-Lato-Regular";
  }
  .value {
    font-size: 16px;
    font-weight: 900;
  }
}
