.time-title {
  color: #fff;
  margin-bottom: 10px;
}
.show-counter {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .countdown {
    text-align: center;
    border-radius: 5px;
    padding: 5px 10px;
    letter-spacing: 2px;
    background: rgb(0 0 0 / 20%);
    backdrop-filter: blur(1px);
  }
  p {
    margin-bottom: 0;
  }
  .value {
    width: 30px;
    text-align: center;
  }
  .space {
    margin-left: 10px;
    margin-right: 10px;
  }
  .type {
    display: block;
    text-transform: capitalize;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: "GLX-Lato-Regular";
  }
  .value {
    font-size: 16px;
    font-weight: 900;
  }
}
