.skeleton {
  background: linear-gradient(-45deg, #f1f1f1, #f4f4f4, #f9f9f9, #f9f9f9);
  background-size: 400% 400%;
  animation: backgroundTransition 1300ms ease infinite forwards;
}

@keyframes backgroundTransition {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
