.page {
  min-height: 100vh;
  &.checkout {
    min-height: 100vh;
  }

  ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      display: inline-flex;
      span {
        display: inline-block;
        margin-right: 10px;
        line-height: 0;
      }
      .content {
        font-size: 18px;
      }
    }
  }
}
.sec-cinema {
  margin-bottom: 30px;
}
.cinema-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .cinema-item {
    width: 20%;
    flex-basis: 20%;
    text-align: center;
    padding: 10px;
    &.active {
      .item-inner {
      }
      .label-text {
        background-color: green;
        color: #fff;
      }
    }
    .item-inner {
      cursor: pointer;
      padding: 15px;
      border-radius: 10px;
      background: #ffffff33;
      backdrop-filter: blur(5px);
      box-shadow: 0px 4px 8px -4px rgb(0 0 0 / 20%);
    }
    img {
      margin-bottom: 15px;
    }
    .label-text {
      text-align: center;

      padding: 10px 15px;
      background-color: #fff;
      display: inline-block;
      min-width: 140px;
      border-radius: 20px;
    }
  }
}
.title {
  font-family: "GLX-LATOBlack";
}
.section-header {
  margin-bottom: 20px;
  padding: 20px 0;
  text-transform: uppercase;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    padding: 15px;
    .icon {
      display: inline-block;
      line-height: 0;
      margin-bottom: 10px;
    }
    .content {
      padding: 10px;
    }
  }
}
@media (min-width: 992px) {
  .ui.grid.block-second {
    flex-direction: row-reverse;
  }
}
