.page {
  min-height: 100vh;
  background: linear-gradient(45deg, #007dff, #03e8f4);
  position: relative;
  // &:after {
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   left: 0;
  //   bottom: 0;
  //   background: url("../../../public/images/bg-pattern.png");
  // }
  // .inner-page {
  //   position: relative;
  //   z-index: 2;
  // }
  &.checkout {
    min-height: 100vh;
    .glx__modal--header {
      text-align: center;
    }
    .glx__modal--body {
      text-align: center;
    }
    .glx__modal--footer {
      .btn {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      display: inline-flex;
      span {
        display: inline-block;
        margin-right: 10px;
        line-height: 0;
      }
      .content {
        font-size: 18px;
      }
    }
  }
}
.sec-cinema,
.section-combo {
  margin-bottom: 30px;
  padding: 20px 0;
}
.cinema-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  .cinema-item {
    width: 50%;
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
    &.active {
      .label-text {
        background-color: green;
        color: #fff;
      }
    }
    .item-inner {
      cursor: pointer;
    }
    img {
      margin-bottom: 10px;
    }
    .label-text {
      text-align: center;
      padding: 8px 10px;
      background-color: #fff;
      display: inline-block;
      min-width: 140px;
      border-radius: 5px;
      line-height: 1.5;
    }
  }
}
.title {
  font-family: "GLX-LATOBlack";
  font-size: 30px;
}
.section-header {
  margin-bottom: 20px;
  padding: 20px 0;
  text-transform: uppercase;
}
.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  .box {
    padding: 10px;
    width: 33.33%;
    flex-basis: 33.33%;
    @media screen and (max-width: 768px) {
      width: 50%;
      flex-basis: 50%;
    }
    .icon {
      display: inline-block;
      line-height: 0;
      margin-bottom: 10px;
    }
    .content {
      padding: 10px;
    }
  }
}
.commbo-list {
  display: flex;
  justify-content: center;
  margin-left: -15px;
  margin-right: -15px;
}
.combo-item {
  width: 50%;
  max-width: 280px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  &.premium {
    .box-content {
      background: rgb(0 188 213 / 20%);
      color: #00bcd5;
    }
    .price {
      color: #00bcd5;
    }
    button {
      color: #fff;
      background: #00bcd5;
      border-color: #00bcd5;
    }
  }
  &.platinum {
    .box-content {
      background: rgb(255 87 34 / 15%);
      color: #ff5722;
    }
    .price {
      color: #ff5722;
    }
    button {
      color: #fff;
      background: #ff5722;
      border-color: #ff5722;
    }
  }
  .box-content {
    padding: 20px 0;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    .icon {
      position: absolute;
      top: 5px;
      right: 5px;

      line-height: 0;
      border-radius: 50%;
    }
  }
  .inner-item {
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    & > div {
      z-index: 2;
      position: relative;
    }
    &:after,
    &:before {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      bottom: 86px;
      background-color: transparent;
      box-shadow: 0px -60px 0px 180px white;
      border-radius: 50%;
    }
    &:after {
      left: -10px;
    }
    &:before {
      right: -10px;
    }
  }
  .type {
    font-weight: bold;
    margin-bottom: 0;
  }
  .month,
  .combo,
  .price {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "GLX-LatoBlack";
  }
  .name {
    margin-bottom: 0;
  }

  .box-price {
    padding: 20px;
  }

  button {
    width: 100%;
  }
}
.channel-item {
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 12px -4px rgb(0 0 0 / 20%);
  .icon {
    width: 120px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
}
.section-payment {
  padding-bottom: 60px;
  .section-body {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  .col-chanel-method {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
  .col-summary {
    width: 100%;
    margin-bottom: 20px;
  }
}
.col-header {
  margin-bottom: 20px;
}
.col-title {
  font-size: 24px;
  font-family: "GLX-Lato";
}
.content-qrstep {
  border-bottom: 1px solid #f1f1f1;
  padding: 15px 0;
  margin-bottom: 15px;
  p {
    margin-bottom: 0;
  }
}
.empty-channel {
  padding: 10px 0;
}
.qrcode-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  .sk-time {
    display: flex;
    justify-content: center;
    align-items: center;
    .skeleton + .skeleton {
      margin-left: 10px;
    }
  }
}
.order-detail,
.account-detail {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  .plan-name {
    text-transform: uppercase;
    padding: 10px 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    li {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px dashed #f1f1f1;
      &:last-of-type {
        border-bottom: none;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
.order-detail {
  margin-bottom: 20px;
}
.methods,
.channels {
  display: flex;
  align-items: center;
  justify-content: center;
  .channel-item + .channel-item {
    margin-left: 15px;
  }
  .channel-item {
    border: 1px solid transparent;
    &.active {
      border-color: #1038bd;
    }
  }
}
.method-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;

  .content {
    display: flex;
    justify-content: space-between;
  }
  p {
    margin-bottom: 0;
  }
  .icon-check {
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: green;
    border-radius: 20px;
    line-height: 20px;
    margin-left: 30px;
    display: inline-block;
    color: #fff;
  }
  .icon {
    width: 60px;
    margin-right: 10px;
  }
}
.payment-note {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}
.payment-content {
  padding: 15px 0;
  .methods {
    margin-bottom: 30px;
  }
  .payment-button {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    max-width: 220px;
    width: 100%;
    min-height: 40px;
    box-shadow: 0px 0px 8px 4px rgb(0 0 0 / 20%);
    background: linear-gradient(45deg, #0033b6, #444fd8);
    border-width: 0;
  }
}

.secures {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    padding: 10px;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    max-width: 80px;
    max-height: 40px;
    & + .icon {
      margin-left: 5px;
    }
  }
  img {
    display: inline-block;
  }
}
.payment-data {
  .qrcode {
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 100%;
    }
  }
}
.counter {
  text-align: center;
  padding: 10px 0;
}
@media (min-width: 768px) {
  .cinema-list {
    .cinema-item {
      width: 33.33%;
      flex-basis: 33.33%;
    }
  }
}

@media (min-width: 992px) {
  .ui.grid.block-second {
    flex-direction: row-reverse;
  }
  .section-payment {
    .col-summary {
      width: 380px;
      padding-left: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .cinema-list {
    .cinema-item {
      width: 20%;
      flex-basis: 20%;
    }
  }
}
@media (max-width: 767px) {
  .commbo-list {
    margin-left: -10px;
    margin-right: -10px;
  }
  .combo-item {
    max-width: 220px;
    padding-left: 10px;
    padding-right: 10px;

    .box-content {
      padding: 15px 10px;
    }
    .inner-item {
      padding: 10px;
      & > div {
        z-index: 2;
        position: relative;
      }
      &:after,
      &:before {
        bottom: 70px;
      }
    }
    .type {
      font-weight: bold;
      margin-bottom: 0;
    }
    .month,
    .price,
    .combo {
      font-size: 20px;
      text-transform: uppercase;
      font-family: "GLX-LatoBlack";
    }
    .name {
      margin-bottom: 0;
    }
    .box-price {
      padding: 15px 10px;
    }
  }
}
