.page {
  min-height: 100vh;
  &.checkout {
    min-height: 100vh;
  }

  ul.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      display: inline-flex;
      span {
        display: inline-block;
        margin-right: 10px;
        line-height: 0;
      }
      .content {
        font-size: 18px;
      }
    }
  }
}
.sec-cinema,
.section-combo {
  margin-bottom: 30px;
  padding: 20px 0;
}
.cinema-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .cinema-item {
    width: 50%;
    flex-basis: 50%;
    text-align: center;
    padding: 10px;
    &.active {
      .item-inner {
      }
      .label-text {
        background-color: green;
        color: #fff;
      }
    }
    .item-inner {
      cursor: pointer;
      padding: 15px;
      border-radius: 10px;
      background: #ffffff33;
      backdrop-filter: blur(5px);
      box-shadow: 0px 4px 8px -4px rgb(0 0 0 / 20%);
    }
    img {
      margin-bottom: 15px;
    }
    .label-text {
      text-align: center;

      padding: 10px 15px;
      background-color: #fff;
      display: inline-block;
      min-width: 140px;
      border-radius: 20px;
    }
  }
}
.title {
  font-family: "GLX-LATOBlack";
}
.section-header {
  margin-bottom: 20px;
  padding: 20px 0;
  text-transform: uppercase;
}
.boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    padding: 15px;
    .icon {
      display: inline-block;
      line-height: 0;
      margin-bottom: 10px;
    }
    .content {
      padding: 10px;
    }
  }
}
.commbo-list {
  display: flex;
  justify-content: center;
}
.combo-item {
  width: 280px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  &.premium {
    .box-content {
      background: rgb(0 188 213 / 20%);
      color: #00bcd5;
    }
    .price {
      color: #00bcd5;
    }
    button {
      color: #fff;
      background: #00bcd5;
      border-color: #00bcd5;
    }
  }
  &.platinum {
    .box-content {
      background: rgb(255 87 34 / 15%);
      color: #ff5722;
    }
    .price {
      color: #ff5722;
    }
    button {
      color: #fff;
      background: #ff5722;
      border-color: #ff5722;
    }
  }
  .box-content {
    padding: 20px 0;
    border-radius: 10px;
    position: relative;
    .icon {
      position: absolute;
      top: 5px;
      right: 5px;

      line-height: 0;
      border-radius: 50%;
    }
  }
  .inner-item {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
  }
  .type {
    font-weight: bold;
    margin-bottom: 0;
  }
  .month {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "GLX-LatoBlack";
  }
  .name {
    margin-bottom: 0;
  }
  .combo {
    font-size: 30px;
    font-family: "GLX-LatoBlack";
  }
  .box-price {
    padding: 20px;
  }
  .price {
    font-size: 30px;
    font-family: "GLX-LatoBlack";
  }
  button {
    width: 100%;
  }
}
.method-item {
  .icon {
    width: 150px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
}
.section-payment {
  padding-bottom: 60px;
  // .section-body {
  //   background-color: rgb(255 255 255 / 24%);
  //   border-radius: 10px;
  //   padding: 20px;
  //   backdrop-filter: blur(5px);
  // }
}
.order-detail,
.account-detail {
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  padding: 30px;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  .pland-name {
    text-transform: uppercase;
    padding: 10px 0;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    li {
      display: flex;
      justify-content: space-between;
      padding: 15px 0;
      border-bottom: 1px dashed #f1f1f1;
      &:last-of-type {
        border-bottom: none;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
.methods {
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-note {
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
}
.secures {
  display: flex;
  align-items: center;
  justify-content: center;
  .icon {
    padding: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    max-width: 80px;
    max-height: 40px;
    & + .icon {
      margin-left: 5px;
    }
  }
  img {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .cinema-list {
    .cinema-item {
      width: 33.33%;
      flex-basis: 33.33%;
    }
  }
}

@media (min-width: 992px) {
  .ui.grid.block-second {
    flex-direction: row-reverse;
  }
}

@media (min-width: 1200px) {
  .cinema-list {
    .cinema-item {
      width: 20%;
      flex-basis: 20%;
    }
  }
}
