.page {
  background: url("../../../public/images/zalo/bg-pc.png");
  background-size: cover;
  &.shopee {
  }
  &.zalo {
  }
  .section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
