.page {
  background: url("../../../public/images/zalo/bg-pc.png");
  background-size: cover;
  &.shopee {
  }
  &.zalo {
  }
  .section-content {
    margin-bottom: 30px;
  }
  .section-chanel {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .image-column {
    display: flex;
    align-items: center;
  }
  .glx-section {
    margin-bottom: 20px;
  }
  .partner-section {
    margin-bottom: 30px;
    .title {
      font-size: 24px;
      span {
        display: block;
        font-weight: bold;
      }
    }
    .logo {
      max-width: 240px;
      border-radius: 20px;
    }
  }

  .login-form {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
    .otp-options {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      .otp-resend,
      .change-phone {
        padding: 0 10px;
        cursor: pointer;
      }
    }

    .field {
      margin-bottom: 20px;
      input {
        border-radius: 100px;
        height: 60px;
        padding: 10px 20px;
        font-size: 20px;
        text-align: center;
      }
    }
    button.primary {
      height: 60px;
      border-radius: 30px;
      width: 100%;
      max-width: 240px;
      margin-left: auto;
      margin-right: auto;
      font-size: 20px;
    }
    .password-fields {
      margin-bottom: 30px;
      .field {
        margin-bottom: 0;
      }
      button {
        margin-left: auto;
        color: #fff;
      }
    }
  }
  .user-info {
    .avatar {
      width: 120px;
      height: 120px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(255 255 255 / 30%);
      border-radius: 50%;
      box-shadow: 0px 0px 9px -2px #00000047;
      backdrop-filter: blur(4px);
      .icon {
        display: inline-block;
        box-sizing: border-box;
        line-height: 0;
      }
      svg {
        color: #fff;
      }
    }
    .infor {
      color: #fff;
      font-size: 24px;
      text-align: center;
      padding: 10px 0;
      margin-bottom: 30px;
    }
    .buttons {
      display: flex;
      justify-content: center;
      button {
        width: 100%;
        max-width: 160px;
        border-radius: 30px;
      }
      button + button {
        margin-left: 20px;
      }
    }
  }
}
.commbo-list {
  display: flex;
  justify-content: center;
}
.combo-item {
  width: 280px;
  padding-left: 15px;
  padding-right: 15px;
  &.premium {
    .box-content {
      background: rgb(103 58 183 / 15%);
      color: #673ab7;
    }
    .price {
      color: #673ab7;
    }
    button {
      color: #fff;
      background: #673ab7;
    }
  }
  &.platinum {
    .box-content {
      background: rgb(255 87 34 / 15%);
      color: #ff5722;
    }
    .price {
      color: #ff5722;
    }
    button {
      color: #fff;
      background: #ff5722;
    }
  }
  .box-content {
    padding: 10px 0;
    border-radius: 10px;
  }
  .inner-item {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
  }
  .type {
    font-weight: bold;
    margin-bottom: 0;
  }
  .month {
    font-size: 30px;
    text-transform: uppercase;
    font-family: "GLX-LatoBlack";
  }
  .name {
    margin-bottom: 0;
  }
  .combo {
    font-size: 30px;
    font-family: "GLX-LatoBlack";
  }
  .box-price {
    padding: 20px;
  }
  .price {
    font-size: 30px;
    font-family: "GLX-LatoBlack";
  }
  button {
    width: 100%;
  }
}
